
{% extends 'photo/photo_base.html' %}
{% block content %}


<div class="array">
                {% for bnws in photo_bnw_posts %}
                        <div class="card">
                            <div class="box-1">
                                <img src="{{ bnws.thumbnail.url  }}" width="200" height="250" alt = "{{ bnws.title }}">
                            </div>
                            <div class="box-2">
                                <h4>{{ bnws.title }}(id : {{ user.username }})</h4>
                                <a href="{% url 'photo_detail' bnws.id %}"><p>{{ bnws.text|slice:":15" }}...more</p></a>
                            </div>
                        </div>
                {% endfor %}
            </div>

<div class="paginator">
          {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">back</a>
                    {% endif %}
                    <a href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }} </a>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                {% endif %}
        </div>


{% endblock content %}

