@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

body {
    margin: 0;
    padding: 0;
}


.logo {
    z-index: 1;
    position: fixed;
    top: 5%;
    left: 10%;
    width: 7%;
}

.title {
    z-index: 1;
    position: absolute;
    display: inline;
    top: 7%;
    left: 0;
    width: 100%;
    height: 1%;
}

.title > p {
    position: relative;
    text-align: center;
    font-family: 'Lacquer', sans-serif;
    color: rgb(77,139,124);
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

.title > p > a {
    color: rgb(77,139,124);
}





.category {
    z-index: 2;
    top: 3%;
    left: 75%;
    position: absolute;
    display: inline;
}

.category > a {
    font-family: 'Lacquer', sans-serif;
    color: rgb(77,139,124);
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 1em;
}



.keywords {
    z-index: 2;
    position: fixed;
    top: 23%;
    left:10%;
    font-family: 'Lacquer', sans-serif;
    color: rgb(77,139,124);
    font-size: 1.3em;
}



.row-key{
    position: fixed;
    top: 23%;
    left: 17%;


}

.uploadpost{
    position: fixed;
    top: 23%;
    right: 10%;
    font-family: 'Lacquer', sans-serif;

}
.uploadpost > a > .fifth{
    border: white;
    font-size: 1.5em;
    color: rgb(77,139,124);
    margin-left: 26%;
    margin-right: 0;
}



.sixth {
  border-radius: 3em;
  border-color: rgb(77,139,124);
    color: rgb(77,139,124);
    font-size: 1.3em;

}


.edde{
position: relative;
    left: 80%;
    top: 40%;
    width: 20%;
    height: 30%;
}

.edde > {} >a >.fifth {
    z-index: 2;
    background-color: black;
}




.array {
    position: fixed;
    top: 33%;
    left: 10%;
    width: 80%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.detail_cut > ul >h2{
    color: white;
    font-family: 'Lacquer', sans-serif;
    font-size: 2.3em;
    margin-bottom: 2%;
}

.detail_cut > ul > h3{
    color: yellow;
    margin-right: 1%;
}

.detail_cut > ul >h5{
    color: yellow;
    margin-right: 1%;
    margin-top: 1%;
}



.detail_cut > ul{
     z-index: 1;
    position: fixed;
    display: inline;
    top: 24%;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: rgb(77,139,124);

}

.card{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 23%;
    height: 82%;

}

.array > .card{
    background-color: rgb(77,139,124);
    border-radius: 0.7em;
}


.box-1 > img {
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    padding: 0;
    border-radius: 0.7em;
}


.box-2{
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(77,139,124);
    width:98%;
    height: 20%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;

}

.box-2 > h4 {
    color: white;
}

.box-2 > a > p {
    color: white;
}

.paginator {
    position: absolute;
    top: 83%;
    left: 45%;
    width: 10%;
}

.paginator > a {
    font-family: 'Lacquer', sans-serif;
    color: rgb(77,139,124);
    font-size: 1.2em;
    text-decoration: none;
    margin-right: 3%;
}





.form-post > form {
    overflow: scroll;
    position: absolute;
    top: 18%;
    right: 40%;
}

.form-post > form > .sixth {
    position: relative;
    top: 50%;
    left: 10;
}