<!DOCTYPE html>
    <html lang="kor">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>로그인</title>
            {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
        </head>
        <body>
            <a href="{% url 'index' %}">
                <img class="logo" src="../../static/image/logo.png" alt="">
            </a>
            <img class="yellow" src="{% static 'image/yellow2.png' %}" alt="yellow2">
            <form class="form" action="." method="post">
                {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors|length > 0 %}has-error{% endif %}">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <input name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control" type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
                                {% for error in field.errors %}
                                    <label class="control-label" for="{{ field.id_for_label }}">{{ error }}</label>
                                {% endfor %}
                        </div>
                    {% endfor %}
                {% if form.errors %}
                    <p class="error_m">아이디나 비밀번호가 일치하지 않습니다.</p>
                {% endif %}
                <button class="button" type="submit">login</button>
            </form>
            <div class="kind">
                <a href="{% url 'password_reset' %}">□ 비밀번호 찾기</a>
                <a href="{% url 'resend' %}">□ 인증이메일 재발송</a>
            </div>
        </body>
</html>
