{% extends 'user/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/user.css' %}">
{% endblock css %}

{% block content %}
  {% if validlink %}
    <div class="panel panel-default registration">
      <div class="panel-heading">
          비밀번호 리셋
      </div>
    <div class="panel-body">
      <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors|length > 0 %}has-error{%endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control" type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
            {% for error in field.errors %}
                <label class="control-label" for="{{ field.id_for_label }}">{{ error }}</label>
            {% endfor %}
            </div>
          {% endfor %}

        <div class="form-actions">
          <button class="btn btn-lg btn-primary btn-large" type="submit">변경하기</button>
        </div>
      </form>
   </div>
</div>

  {% else %}
    <p>
      비밀번호 리셋 링크가 이미 사용되어 접속이 되지 않습니다.
      <br><br>
      비밀번호 리셋을 다시 시도해주세요!
    </p>
  {% endif %}
{% endblock %}